Source: python3-application
Section: python
Priority: optional
Maintainer: Adrian Georgescu <ag@ag-projects.com>
Build-Depends: debhelper (>= 11), dh-python, python3
Standards-Version: 4.5.0
Homepage: http://ag-projects.com
X-Python3-Version: >= 3.7


Package: python3-application
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-zope.interface
Description: Basic building blocks for Python applications
 This module provides some basic components that can be used to simplify
 building Python applications.
 .
 The components included by this package encapsulate the functionality to
 handle the following tasks:
 .
  - UNIX process management (forking, signal handling, pid file creation)
  - A very simple to use interface to handle .ini configuration files.
  - An extensible system logger for console and/or syslog.
  - Miscellaneous utilities and helpers.
  - Memory troubleshooting and execution timing.
  - Communicate inside the application using a notification system.
  - Manage the version number for applications, modules and packages.

